.cast-card-container,.cast-detail-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cast-card-container {
  width: 20%;
  margin: 2% 1%;
}
.cast-img {
  width: 250px;
  height: 400px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.cast-btn{
    display: flex;
    align-items: center;
}
.cast-btn a{
    text-decoration: none;
    color:black;
    
}

.cast-detail-holder{
    width:100%;
    border-radius: 5px;
    padding:1%;
}