* {
  font-family: "Nunito", sans-serif;
}
.homepage-container{
  background-color: rgb(233,248,246);
}
.homepage-carousel-container::before {
  content: "MOVISTIO";
  font-size: 210px;
  text-align: center;
  z-index: 0;
  position: absolute;
  letter-spacing: 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  align-items: center;
  color: rgb(232,236,235);
}
.homepage-carousel-container{
  max-height: 100vh;
}
.slideInner___2mfX9 carousel__inner-slide{
  max-height: 100vh !important;
}